@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@charset "UTF-8";
html{
	background-color: #eaf0f2;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #FAFAFA;
	overflow: hidden;
	width: 100vw;
	position: fixed;
}

.cabecalho-login{
	background-color: #443D9F;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 10vh;
	color: #FAFAFA;
	box-sizing: border-box;
}

.cabecalho-login .cabecalho-limite {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.cabecalho-login .cabecalho-limite h1{
	float: left;
	font-family: 'Comfortaa', cursive;
	line-height: 40px;
	margin: 0;
}

.cabecalho-login .cabecalho-limite h1 span {
	color: #2B9874;
}

.cabecalho-login .cabecalho-limite a {
	color: #ffffff;
	text-decoration: none;
}

.cabecalho-login .cabecalho-limite nav {
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	line-height: 1;
	float: right;
}

.cabecalho-login .cabecalho-limite nav a{
	font-weight: bold;
	background-color: #2D286A;
	padding: 10px 15px;
	border-radius: 3px;
	display: inline-block;
	margin-left: 15px;
	opacity:0.9;
}

.cabecalho-login .cabecalho-limite nav a:hover {
	opacity: 1;
	background-color: #2B9874;
}

.cabecalho-login .cabecalho-limite nav a.selected{
	color: #FAFAFA;
	background-color: #2B9874;
}

.cabecalho-inferior {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
	box-shadow:0 1px 1px #ccc;
	padding: 8vh 20px;
	height: 80px;
	color: #222222;
	box-sizing: border-box;
	top: 80px;
	height: 80vh;
	margin: 0 auto;
}

.box-topico {

 	background-color: #FAFAFA;
	padding: 50px 40px;
	color: #222222;
	box-sizing: border-box;
	width: 27vw;
	height: 65vh;
	box-shadow:0 10px 10px #326395;
	border-radius: 10px 10px 0px 0px;
	border-top-color: #326395;
	border-top: 10px #326395;
	text-align: center;
	/*background: linear-gradient(0deg, #FAFAFA 50%, #443D9F 50%);*/
}

.box-esquerda {
	
	float: left;
}

.box-centro {
	margin: 0 auto;
}

.box-direita {
	float: right;
}

img.icone-topico {
	width: 96px;
	height: 96px;
	border-radius: 50%;
	margin: 0 auto;
}

.ico-topico {
	font-size: 48px;
	margin: 0 auto;
	border-radius: 50%;
	color: #443D9F;
}

.p-topico {
	margin-top: 16vh;
}

.btnPersonal {
	border: none;
	color: #443D9F;
	background-color: #FAFAFA;
	font-size: 32px;
	margin-left: 16px;
	margin-right: 16px;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	outline: none;
}

.btnPersonal:hover {
	background-color: #443D9F;
	color: #FAFAFA;
	box-shadow:0 2px 2px #326395;
}

#myBtn {
	padding-top: 8px;
}

i {
	margin: 0 auto;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.45); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #FAFAFA;
  margin: auto;
  padding: 15px;
  border: 1px solid #888;
  width: 450px;
  border-radius: 16px;
  height: 500px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #D93025;
  text-decoration: none;
  cursor: pointer;
}

textarea {
	width: 100%;
	font-size: 18px "Source Sans Pro";
	box-sizing: border-box;
	border: 1px solid #2B9874;
	border-radius: 10px;
	outline: none;
	resize: none;

}

form {
	margin: 0 auto;
	width: 80%;
	padding-top: 50px
}

form div + div {
	margin-top: 40px;
}

label {
	display: inline-block;
	margin-bottom: 5px;
}

input {
	font-size: 18px "Source Sans Pro";
	width: 300px;
	
	border: 0px;
	border-bottom: 1px solid #2B9874;
	border-radius: 3px;
	outline: none;

}

input:focus {
	border-bottom: 1px solid #443D9F;
}
textarea:focus {
	border: 1px solid #443D9F;
	margin-top-top: 20px;
}
.caixa-btn {
	margin-bottom: 0px;
	width: 100%;
	text-align: right;
}

.btn {
	border: none;
	color: #FAFAFA;
	opacity: 1;
	background-color: #2B9874;
	font: 18px "Source Sans Pro";
	height: 36px;
	width: 100px;
	border-radius: 20px;
	border: 0px;
	display: inline-block;
	cursor: pointer;
	outline: none;
}

.btn:hover {
	background-color: #2D286A;
}

.pe {
	font: 16px "Source Sans Pro";
	padding-left: 10px;
	color: #FAFAFA;
	height: 10vh;
	width: 100vw;
	background-image: linear-gradient(to bottom, #443D9F 0%, #1B1840 100%);
}

#p-pe {
	margin-top: 0;
	padding-top: 10px;
}

.negrito {
	font-weight: bold;
}

#ico-rodape {
	font-size: 120px;
	display: inline;
	position: relative;
	margin-top: -8vh;
	float: right;
	margin-right: 20px;
	color: #FAFAFA;
}
